server:
  port: ${PORT:8080}
  origin: ${ORIGIN:*}
spring:
  main:
    banner-mode: off
  output:
    ansi:
      enabled: ALWAYS
  application:
    name: scoreextraction-core
  rabbitmq:
    addresses: ${BUS_URI:amqps://pmgsxeyy:j3IrF_YHSaXhc5f-Wr1LWR40bT57nfpj@hawk.rmq.cloudamqp.com/pmgsxeyy}
  data:
    mongodb:
      uri: ${MONGO_URI:mongodb+srv://user:josueatlas@clusterforcesoftware.hmjaf.mongodb.net/events?retryWrites=true&w=majority}

# localhost
#  bus:
#    uri: ${BUS_URI:amqp://pmgsxeyy:j3IrF_YHSaXhc5f-Wr1LWR40bT57nfpj@hawk.rmq.cloudamqp.com/pmgsxeyy}
#  commands:
#    uri: ${MONGO_URI:mongodb+srv://user:josueatlas@clusterforcesoftware.hmjaf.mongodb.net/events?retryWrites=true&w=majority}
#  queries:
#    uri: ${MONGO_URI:mongodb+srv://user:josueatlas@clusterforcesoftware.hmjaf.mongodb.net/views?retryWrites=true&w=majority}
logging:
  pattern:
    console: "%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"